<br/>
<div class="jumbotron welcome-image text-center">
  <h1>Marcipedia</h1>
  <p>Marcipedia allows users to create public and private Markdown-based wikis<p>
  <p>
      <%= link_to "Sign In", "#", class: 'btn btn-primary' %> or
      <%= link_to "Sign Up", "#" , class: 'btn btn-primary' %> today!
  </p>
</div>

<div class="row">
  <div class="col-md-6">
    <h2><span class="glyphicon glyphicon-usd circle" aria-hidden="true"></span> Premium Plan</h2>
    <p>Create private wikis!</p>
    <%= link_to "Upgrade Today", "upgrade", class: 'btn btn-primary' %>
  </div>
  <div class="col-md-6">
    <h2><span class="glyphicon glyphicon-tower circle" aria-hidden="true"></span> Free Plan</h2>
    <p>Create as many public wikis as you want!</p>
  </div>
</div>
