<br/>
<div class="jumbotron welcome-image text-center">
  <h1>Marcipedia</h1>
  <p>Marcipedia allows users to create public and private Markdown-based wikis<p>
  <% unless current_user %>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
      <%= link_to "Sign Up", new_user_registration_path , class: 'btn btn-primary' %> today!
  </p>
  <% end %>
</div>

<div class="row">
  <div class="col-md-6 text-center">

    <%= link_to new_charge_path do %>
    <h2>Premium Plan</h2>
    <h2><span class="glyphicon glyphicon-usd circle" aria-hidden="true"></span></h2>
    <% end %>

    <p>Create private wikis! Upgrade Today!</p>
  </div>
  <div class="col-md-6 text-center">
    <%= link_to charge_path(:id) do %>
    <h2> Free Plan </h2>
    <h2><span class="glyphicon glyphicon-tower circle" aria-hidden="true"></span></h2>
    <% end %>
    <p>Create as many public wikis as you want!</p>

  </div>
</div>
