<br/>
<div class="jumbotron welcome-image text-center">
  <h1>Marcipedia Upgrade Today</h1>
  <p>Marcipedia Premium Users can private Markdown-based wikis and choose colaborators<p>
  <p>
      <%= link_to "Upgrade", "#", class: 'btn btn-primary' %>

  </p>
</div>
